@import "tailwindcss";

@theme{
    --color-primary: oklch(70.7% 0.165 254.624);
}

.nav-items{
    @apply font-semibold p-1 px-2 rounded hover:bg-cyan-500/20 text-primary hover:text-black/50 hover:backdrop-blur-md
}

.btn-1 {
    @apply bg-primary text-white px-3 py-1 font-semibold border-2 border-white outline-2 outline-primary
}

.aside-head {
   @apply text-gray-500 max-sm:text-xs
}

.aside-content{
   @apply text-lg font-semibold max-sm:text-sm
}

.feature-card {
    @apply bg-white/80 justify-items-center text-center items-center space-y-2 w-30 h-30
     max-sm:p-2 max-sm:*:text-xs
     sm:*:text-xs sm:p-2
     2xl:space-y-2 2xl:p-5 2xl:w-50 2xl:h-40
}